body{
	min-height: 4000px;
}
.jadwal, .course{
	background-color: #1a355f;
}

span{ font-weight: bold;

}

.heading{
	padding-top: 4rem;
}
section{
	padding-top: 4rem;
}
.jadwal{
	padding-top: 2.5rem;
}

.logofe{
	width: 50%;
	height: 50%;
}

.images{
	display: flex;
	justify-content: center;
	align-items: center
}


.logobe{
	width: 20%;
	height: 20%;
}

.merah{
	color: red;
	text-align: center;
}

.hijau{
	color: green;
}

